/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
@import "theme";

:host {
  padding: 12px;
  margin-bottom: 12px;
  float: left;
  width: 33.33%;

  &.big {
    width: 100%;
  }
}

.close {
  margin-left: 8px;
}

.chart {
  position: relative;
  border: 1px solid @border-color-split;
}

.title {
  padding: 12px;
  position: relative;
  border-bottom: 1px solid @border-color-split;
}

.text {
  font-size: 12px;
  line-height: 24px;
  overflow: hidden;
  max-width: calc(~"100% - 128px");
  text-overflow: ellipsis;
}

.operate {
  position: absolute;
  top: 12px;
  right: 12px;
}

.content {
  padding: 12px;

  .numeric {
    line-height: 150px;
    font-size: 32px;
    text-align: center;
  }
}

button {
  transition: none;
}
