<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
    "-//Puppy Crawl//DTD Check Configuration 1.2//EN"
    "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">

<module name="Checker">
	<property name="severity" value="warning" />

	<!--
		Conventions =======================================================
	-->
	<module name="StrictDuplicateCode" />


	<module name="TreeWalker">
		<module name="AbstractClassName" />
		<module name="ConstantName" />
		<module name="LocalFinalVariableName" />
		<module name="LocalVariableName" />
                <!--
		<module name="FinalParameters" />
                -->
		<module name="MemberName" />
		<module name="MethodName" />
		<module name="ModifierOrder" />
		<module name="PackageName" />
		<module name="ParameterName" />
		<module name="RedundantModifier" />
		<module name="StaticVariableName" />
		<module name="TypeName" />
		<module name="EmptyBlock" />
		<module name="NeedBraces" />
		<module name="EmptyStatement" />
		<module name="EqualsHashCode">
			<property name="severity" value="info" />
		</module>
		<module name="FinalLocalVariable">
			<property name="severity" value="info" />
		</module>
		<module name="HideUtilityClassConstructor" />
		<module name="RedundantImport">
			<property name="severity" value="info" />
		</module>
		<module name="UnusedImports">
			<property name="severity" value="info" />
		</module>
		<module name="LocalFinalVariableName" />
		<module name="MethodLength">
			<property name="max" value="400" />
		</module>
                <!--
		<module name="TabCharacter">
			<property name="severity" value="info" />
		</module>
                -->
		<module name="IllegalInstantiation">
			<property name="classes" value="java.lang.Boolean" />
		</module>
		<module name="MagicNumber" />
		<module name="MissingSwitchDefault" />
		<module name="SimplifyBooleanReturn" />
	</module>
	<!--
		===================================================================
	-->

	<!--
		Javadoc ===========================================================
	-->
	<module name="TreeWalker">
		<module name="JavadocType" />
		<module name="JavadocMethod" />
		<module name="JavadocVariable" />
		<module name="JavadocStyle" />
	</module>
	<!--
		===================================================================
	-->
</module>
