
<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

-->
<nav class="navbar navbar-default navbar-fixed-top navbar-main">
  <div id="fold-button" ng-click="showSidebar()" class="btn btn-default navbar-btn pull-left"><i class="fa fa-navicon"></i></div>
  <div class="navbar-title">Task Managers</div>
</nav>
<div id="content-inner">
  <table class="table table-clickable table-hover">
    <thead>
      <tr>
        <th>Path, ID</th>
        <th>Data Port</th>
        <th>Last Heartbeat</th>
        <th>All Slots</th>
        <th>Free Slots</th>
        <th>CPU Cores</th>
        <th>Physical Memory</th>
        <th>JVM Heap Size</th>
        <th>Flink Managed Memory</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="manager in managers" ui-sref="single-manager.metrics({taskmanagerid: manager.id})">
        <td>
          {{ manager.path }}
           
          <div class="small-label">{{ manager.id }}</div>
        </td>
        <td>{{ manager.dataPort }}</td>
        <td>{{ manager.timeSinceLastHeartbeat | amDateFormat:'YYYY-MM-DD, H:mm:ss' }}</td>
        <td>{{ manager.slotsNumber }}</td>
        <td>{{ manager.freeSlots }}</td>
        <td>{{ manager.hardware.cpuCores }}</td>
        <td title="{{manager.hardware.physicalMemory}} bytes">{{ manager.hardware.physicalMemory | humanizeBytes }}</td>
        <td title="{{manager.hardware.freeMemory}} bytes">{{ manager.hardware.freeMemory | humanizeBytes }}</td>
        <td title="{{manager.hardware.managedMemory}} bytes">{{ manager.hardware.managedMemory | humanizeBytes }}</td>
      </tr>
    </tbody>
  </table>
</div>