
<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

-->
<div ng-if="metrics.id">
  <h1>Overview</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Data Port</th>
        <th>All Slots</th>
        <th>Free Slots</th>
        <th>CPU Cores</th>
        <th>Physical Memory</th>
        <th>JVM Heap Size</th>
        <th>Flink Managed Memory</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ metrics.dataPort }}</td>
        <td>{{ metrics.slotsNumber }}</td>
        <td>{{ metrics.freeSlots }}</td>
        <td>{{ metrics.hardware.cpuCores }}</td>
        <td>{{ metrics.hardware.physicalMemory | humanizeBytes }}</td>
        <td>{{ metrics.hardware.freeMemory | humanizeBytes }}</td>
        <td>{{ metrics.hardware.managedMemory | humanizeBytes }}</td>
      </tr>
    </tbody>
  </table>
  <h1>Memory</h1>
  <h2>JVM (Heap/Non-Heap)</h2>
  <table class="table table-properties">
    <thead>
      <tr>
        <th>Type</th>
        <th>Committed</th>
        <th>Used</th>
        <th>Maximum</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Heap</td>
        <td>{{ metrics.metrics.heapCommitted | humanizeBytes }}</td>
        <td>{{ metrics.metrics.heapUsed | humanizeBytes }}</td>
        <td>{{ metrics.metrics.heapMax | humanizeBytes }}</td>
      </tr>
      <tr>
        <td>Non-Heap</td>
        <td>{{ metrics.metrics.nonHeapCommitted | humanizeBytes }}</td>
        <td>{{ metrics.metrics.nonHeapUsed | humanizeBytes }}</td>
        <td>{{ metrics.metrics.nonHeapMax | humanizeBytes }}</td>
      </tr>
      <tr>
        <td>Total</td>
        <td>{{ metrics.metrics.heapCommitted + metrics.metrics.nonHeapCommitted | humanizeBytes }}</td>
        <td>{{ metrics.metrics.heapUsed + metrics.metrics.nonHeapUsed | humanizeBytes }}</td>
        <td>{{ metrics.metrics.heapMax + metrics.metrics.nonHeapMax | humanizeBytes }}</td>
      </tr>
    </tbody>
  </table>
  <h2>Outside JVM</h2>
  <table class="table table-properties">
    <thead>
      <tr>
        <th>Type</th>
        <th>Count</th>
        <th>Used</th>
        <th>Capacity</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Direct</td>
        <td>{{ metrics.metrics.directCount | toLocaleString }}</td>
        <td>{{ metrics.metrics.directUsed | humanizeBytes }}</td>
        <td>{{ metrics.metrics.directMax | humanizeBytes }}</td>
      </tr>
      <tr>
        <td>Mapped</td>
        <td>{{ metrics.metrics.mappedCount | toLocaleString }}</td>
        <td>{{ metrics.metrics.mappedUsed | humanizeBytes }}</td>
        <td>{{ metrics.metrics.mappedMax | humanizeBytes }}</td>
      </tr>
    </tbody>
  </table>
  <h1>Network</h1>
  <h2>Memory Segments</h2>
  <table class="table table-properties">
    <thead>
      <tr>
        <th>Type</th>
        <th>Count</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Available</td>
        <td>{{ metrics.metrics.memorySegmentsAvailable | toLocaleString }}</td>
      </tr>
      <tr>
        <td>Total</td>
        <td>{{ metrics.metrics.memorySegmentsTotal | toLocaleString }}</td>
      </tr>
    </tbody>
  </table>
  <h1>Garbage Collection</h1>
  <table class="table table-properties">
    <thead>
      <tr>
        <th>Collector</th>
        <th>Count</th>
        <th>Time</th>
      </tr>
    </thead>
    <tbody ng-repeat="g in metrics.metrics.garbageCollectors">
      <tr>
        <td>{{ g.name }}</td>
        <td>{{ g.count | toLocaleString }}</td>
        <td>{{ g.time | toLocaleString }}</td>
      </tr>
    </tbody>
  </table>
</div>