.eslintcache
.cache
scalastyle-output.xml
.classpath
.idea/*
!.idea/vcs.xml
!.idea/icon.png
.metadata
.settings
.project
.version.properties
filter.properties
logs.zip
.mvn/wrapper/*.jar
.mvn/maven.config
target
tmp
*.class
*.iml
*.swp
*.jar
*.zip
*.log
*.pyc
.DS_Store
build-target
**/dependency-reduced-pom.xml
flink-runtime-web/web-dashboard/node/
flink-runtime-web/web-dashboard/node_modules/
flink-runtime-web/web-dashboard/web/
flink-runtime-web/web-dashboard/.angular/
flink-python/dist/
flink-python/apache-flink-libraries/dist/
flink-python/build/
flink-python/apache-flink-libraries/build
flink-python/pyflink.egg-info/
flink-python/apache_flink.egg-info/
flink-python/apache-flink-libraries/apache_flink_libraries.egg-info/
flink-python/docs/_build
flink-python/.tox/
flink-python/dev/download
flink-python/dev/.conda/
flink-python/dev/log/
flink-python/dev/.stage.txt
flink-python/.eggs/
flink-python/apache-flink-*.dev*/
flink-python/apache-flink-libraries/apache_flink_libraries-*.dev*/
flink-python/**/*.c
flink-python/.idea/
flink-python/**/*.so
atlassian-ide-plugin.xml
out/
/docs/api
/docs/.bundle
/docs/.rubydeps
/docs/ruby2/.bundle
/docs/ruby2/.rubydeps
/docs/.jekyll-metadata
*.ipr
*.iws
tools/flink
tools/flink-*
tools/releasing/release
tools/japicmp-output
/docs/go.mod
/docs/go.sum
/docs/.hugo_build.lock
