.cache
scalastyle-output.xml
.classpath
.idea
.metadata
.settings
.project
.version.properties
filter.properties
logs.zip
target
tmp
*.class
*.iml
*.swp
*.jar
*.zip
*.log
*.pyc
.DS_Store
build-target
flink-runtime-web/web-dashboard/node/
flink-runtime-web/web-dashboard/node_modules/
flink-runtime-web/web-dashboard/web/
flink-python/dist/
flink-python/build/
flink-python/pyflink.egg-info/
flink-python/apache_flink.egg-info/
flink-python/docs/_build
flink-python/.tox/
flink-python/dev/download
flink-python/dev/.conda/
flink-python/dev/log/
flink-python/dev/.stage.txt
flink-python/.eggs/
flink-python/apache-flink-*.dev0/
flink-python/**/*.c
flink-python/**/*.so
atlassian-ide-plugin.xml
out/
/docs/api
/docs/content
/docs/.bundle
/docs/.rubydeps
/docs/ruby2/.bundle
/docs/ruby2/.rubydeps
/docs/.jekyll-metadata
*.ipr
*.iws
tools/flink
tools/flink-*
tools/releasing/release
tools/japicmp-output
