################################################################################
#
# This file allows you to customize the default configuration values used in the 
# various configuration files, which can be found in the conf folder of an 
# assembled binary distribution of the nephele-server package.  
#


################################################################################
# nephele configuration options (nephele-default.xml)
#

# the instance manager implementation to be used
instancemanager.classname=de.tu_berlin.cit.nephele.instance.cluster.ClusterManager

# the full path to the hadoop root directory 
hadoop.dir=${user.home}/etc/hadoop

# the IP address of the network in which the job magager is running  
servicenetwork.address=192.168.0.110


################################################################################
# logging system (log4j.properties)
#

# the default logging level to be used in the server logging system
loggingSystem.logger=INFO, fileroller

# the default conversion pattern used in the fileroller
loggingSystem.layout.ConversionPattern=%d{ISO8601} %p [%t] %c{1} - %m%n