<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<div #trigger
  class="resize"
  [class.vertical]="mode === 'vertical'"
  [class.horizontal]="mode === 'horizontal'"
  [style.left.px]="mode === 'vertical' ? left : 0"
  [style.top.px]="mode === 'vertical' ? 0 : top"
  (mousedown)="startMove()">
  <div class="resize-handle" [class.horizontal]="mode === 'horizontal'" [class.vertical]="mode === 'vertical'"><i nz-icon type="ellipsis"></i></div>
</div>
