/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

svg.graph
  overflow hidden
  height: 100%
  // override the inline width property; ideally we would not set this property
  // in the first place but the source remains undiscovered
  width: 100% !important

  g
    &.type-TK
      & > rect
        fill #00ffd0

  text
    font-weight 300
    font-size 14px

  .node
    cursor: pointer
    > rect
      stroke #999
      stroke-width 5px
      fill #fff
      margin: 0
      padding: 0
      
    &[active]
      > rect
        fill #eeeeee

    &.node-mirror
      > rect
        stroke: #a8a8a8

    &.node-iteration
      > rect
        stroke: #cd3333

    &.node-source
      > rect
        stroke: #4ce199

    &.node-sink
      > rect
        stroke: #e6ec8b

    &.node-normal
      > rect
        stroke: #3fb6d8

    h4
      color: #000
    h5
      color: #999

  .edgeLabel
    rect
      fill #fff

  .edgePath
    path
      stroke #333
      stroke-width 2px
      fill #333

  .label
    color: #777
    margin: 0

  .edge-label
    // padding: 5px
    font-size: 14px
    
  .node-label
    display: block
    margin: 0
    text-decoration: none
