/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

.canvas-wrapper
  border: 1px solid #ddd
  position: relative
  margin-bottom: 20px
  height: 100%
  
  .main-canvas
    height: 100%
    overflow: hidden

    .zoom-buttons
      position: absolute
      top: 10px
      right: 10px


.label-group
  .label
    display: inline-block
    padding-left: 0.4em
    padding-right: 0.4em
    margin: 0
    border-right: 1px solid #ffffff
    border-radius(0)
    
    &.label-black
      background-color: #000000

.navbar-info-button
  padding: 3px 4px
  font-size: 12px
  font-family: inherit
  margin-top: -2px

.checkpoints-view {
  padding-top: 1em
}

.subtask-details {
  .blank {
    height: 2em
  }
}

.checkpoint-overview {
  td span {
    padding-left: 2em
  }

  a {
    color: black;
  }
}
