/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
 
#content
  .navbar-secondary-additional
    &.navbar-secondary-additional-2
      margin: -10px -10px 10px -10px
      padding: 0
      border-bottom: 1px solid #e4e4e4

      .navbar-info
        padding-top: 12px
        padding-bottom: 12px

      .add-metrics
        margin-right: 15px
        float: right
        .btn
          margin-top: 5px
          margin-bottom: 5px
        a
          cursor: pointer

      .metric-menu
        max-height: 300px
        width: 300px
        overflow-y: scroll
        text-align: left

  .search
    label
      position: absolute;
      top: 15px
      left: 22px
    input.metrics-filter
      height: 30px
      padding: 5px 5px 5px 25px
      margin: 5px 5px 5px 15px
      width: 90%
      border-radius: 5px
      border: 1px solid #999
      box-shadow: none

$metric-row-height = 180px + 85px

.metric-row
  margin: 0px
  min-height: 1 * ($metric-row-height + 10px)
  padding: 0
  list-style-type: none

  .metric-col
    background-color: transparent
    width: 33.33%
    float: left

    &.big
      width: 100%

    .panel
      margin-left: 5px
      margin-right: 5px
      min-height: $metric-row-height
      margin-bottom: 10px
      .panel-body
        background-color: transparent
        height: $metric-row-height
        position: relative
        .metric-numeric
          text-align: center;
          margin-top: 75px;
          font-size: 40px;
          font-weight: bold;

      .panel-heading
        padding: 0px 10px
        background-color: transparent
        height: 41px
        line-height: 41px
        position: relative
        overflow: hidden
        cursor: pointer

        .metric-title
          padding: 10px 0

        .buttons
          position: absolute
          top: 0
          right: 0
          padding: 0 10px
          background-color: #ffffff

    &.dndDraggingSource
      display: none

  .dndPlaceholder
    position: relative
    background-color: #f0f0f0
    min-height: $metric-row-height + 40px
    display: block
    width: 33.33%
    float: left
    margin-bottom: 10px
    border-radius: 5px

.p-info
  padding-left: 5px
  padding-right: 5px
