.timeline-canvas
  overflow: hidden
  padding: 10px

svg.timeline
  overflow hidden

  .timeline-insidelabel, .timeline-series
    cursor: pointer
    
  &.secondary
    .timeline-insidelabel, .timeline-series
      cursor: auto

