# /etc/fstab: static file system information.
#
# <file system>                                 <mount point>   <type>  <options>       <dump>  <pass>
proc                                            /proc           proc    defaults        0       0
/dev/vda2                                       none            swap    defaults        0       0
/dev/vda1                                       /               ext3    defaults        0       0

