//
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at
 
      http://www.apache.org/licenses/LICENSE-2.0
 
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.

#content-inner.panel-body.clean.has-navbar-secondary-additional
  span(ng-if="!exceptionHistory['root-exception']")
    | Exceptions for this attempt are no longer available.

  .panel.panel-default.panel-multi(ng-if="exceptionHistory['root-exception']")
    .panel-heading.clearfix
      .panel-title(ng-if="exceptionHistory.task")
        | Root exception : {{ exceptionHistory.task }}

      .panel-title(ng-if="!exceptionHistory.task")
        | Root exception

    .panel-heading.clearfix
      .panel-info
        .thin(ng-if="exceptionHistory.timestamp != -1")
          strong Timestamp:
          = ' '
          | {{ exceptionHistory.timestamp | amDateFormat:'YYYY-MM-DD, H:mm:ss' }}
      .panel-info
        .thin.last(ng-if="exceptionHistory.location")
          strong Location:
          = ' '
          | {{ exceptionHistory.location }}

    .panel-body
      pre.exception
        | {{ exceptionHistory['root-exception'] }}

  .panel.panel-default.panel-multi(ng-repeat="exception in exceptionHistory['all-exceptions']" )
    .panel-heading.clearfix
      .panel-title
        | {{ exception.task }}

    .panel-heading.clearfix
      .panel-info
        .thin(ng-if="exception.timestamp != -1")
          strong Timestamp:
          = ' '
          | {{ exception.timestamp | amDateFormat:'YYYY-MM-DD, H:mm:ss' }}
      .panel-info
        .thin.last(ng-if="exception.location")
          strong Location:
          = ' '
          | {{ exception.location }}

    .panel-body
      pre.exception
        | {{ exception.exception }}