//
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at
 
      http://www.apache.org/licenses/LICENSE-2.0
 
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.

p.p-info(ng-if="!nodeid")
  em Select operator in the job graph above to see the metrics

nav.navbar.navbar-default.navbar-secondary-additional.navbar-secondary-additional-2(ng-if="nodeid")
  .navbar-info {{ vertex.name }}
  .navbar-info {{ nodeid }}

  .dropdown.add-metrics(ng-if="availableMetrics.length")
    button.btn.btn-default.navbar-btn.dropdown-toggle(type='button', data-toggle='dropdown')
      | Add metric
      | &nbsp;
      span.caret
    ul.dropdown-menu.dropdown-menu-right.metric-menu
      section(class="search")
        label(for="search-input")
          i(class="fa fa-search" aria-hidden="true")
            span(class="sr-only") Search icons
        input(type="text" ng-model="metricsFilterQuery" class="metrics-filter" placeholder="Search available metrics...")
      li(ng-repeat="metric in availableMetrics | searchMetrics:metricsFilterQuery track by $index")
        a(ng-click="addMetric(metric)") {{ metric.id | limit }}

  .dropdown.add-metrics(ng-if="!availableMetrics.length")
    button.btn.btn-default.navbar-btn.dropdown-toggle(type='button', data-toggle='dropdown', disabled='disabled')
      i No metrics available

.row.metric-row(ng-if="nodeid && metrics.length == 0")
  p.p-info
    em No metrics selected

ul.metric-row(ng-if="nodeid && metrics.length > 0" dnd-list="metrics" dnd-drop="dropped(event, index, item, external, type, external)")
  li.metric-col(ng-repeat="metric in metrics track by metric.id" dnd-draggable="metric" dnd-dragstart="dragStart()" dnd-dragend="dragEnd()" dnd-canceled="dragEnd()" ng-class="{big: metric.size != 'small'}")
    metrics-graph(metric="metric" window="window" get-values="getValues(metric.id)" remove-metric="removeMetric(metric)" set-metric-size="setMetricSize" set-metric-view="setMetricView")

.clearfix

