//
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at
 
      http://www.apache.org/licenses/LICENSE-2.0
 
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.

table.table.table-hover.table-clickable
  thead
    tr
      th Start Time
      th End Time
      th Duration
      //- th Name
      th Bytes read
      th Records read
      th Bytes written
      th Records written
      th Tasks
      th Status

  tbody
    tr
      td {{ vertex['start-time'] | amDateFormat:'YYYY-MM-DD, H:mm:ss' }}
      td {{ vertex['end-time'] | amDateFormat:'YYYY-MM-DD, H:mm:ss' }}
      td {{ vertex.duration }} ms
      //- td {{ vertex.name | humanizeTaskName }}
      td {{ vertex.metrics['read-bytes'] }}
      td {{ vertex.metrics['read-records'] }}
      td {{ vertex.metrics['write-bytes'] }}
      td {{ vertex.metrics['write-records'] }}
      td
        .label-group
          bs-label(status="{{status}}" ng-repeat="(index, status) in stateList") {{vertex.tasks[status]}}

      td 
        bs-label(status="{{vertex.status}}") {{vertex.status}}
