//
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.

div(ng-if="checkpointStats['summary']")
  table.table
    thead
      tr
        td
        td #[strong End to End Duration]
        td #[strong State Size]
        td #[strong Buffered During Alignment]
    tbody
      tr
        td #[strong Minimum]
        td {{ checkpointStats['summary']['end_to_end_duration']['min'] | humanizeDuration }}
        td {{ checkpointStats['summary']['state_size']['min'] | humanizeBytes }}
        td {{ checkpointStats['summary']['alignment_buffered']['min'] | humanizeBytes }}
      tr
        td #[strong Average]
        td {{ checkpointStats['summary']['end_to_end_duration']['avg'] | humanizeDuration }}
        td {{ checkpointStats['summary']['state_size']['avg'] | humanizeBytes }}
        td {{ checkpointStats['summary']['alignment_buffered']['avg'] | humanizeBytes }}
      tr
        td #[strong Maximum]
        td {{ checkpointStats['summary']['end_to_end_duration']['max'] | humanizeDuration }}
        td {{ checkpointStats['summary']['state_size']['max'] | humanizeBytes }}
        td {{ checkpointStats['summary']['alignment_buffered']['max'] | humanizeBytes }}
  p These number are computed over #[i all] completed checkpoints.

p(ng-if="!checkpointStats['summary']") No checkpoint statistics summary available.
