.panel.panel-default.panel-multi(ng-if="vertex")
  .panel-heading.clearfix
    .panel-title
      | {{ vertex.groupvertex.groupvertexname }}

    //- .panel-info.first
    //-   | Vertex ID: {{ vertex.groupvertex.groupvertexid }}

  .panel-body
    .canvas-wrapper
      div.timeline-canvas(vertex data="vertex")


    #timeline1
