
<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.


-->
<table ng-if="subtasks" class="table table-hover table-clickable table-activable table-inner">
  <thead>
    <tr>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Duration</th>
      <th>Bytes received</th>
      <th>Records received</th>
      <th>Bytes sent</th>
      <th>Records sent</th>
      <th>Attempt</th>
      <th>Host</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="subtask in subtasks | orderBy:'host'">
      <td><span ng-if="subtask['start-time'] &gt; -1">{{ subtask['start-time'] | amDateFormat:'YYYY-MM-DD, H:mm:ss' }}</span></td>
      <td><span ng-if="subtask['end-time'] &gt; -1">{{ subtask['end-time'] | amDateFormat:'YYYY-MM-DD, H:mm:ss' }}</span></td>
      <td><span ng-if="subtask.duration &gt; -1" title="{{subtask.duration | humanizeDuration:false}}">{{subtask.duration | humanizeDuration:true}}</span></td>
      <td><span ng-if="subtask.metrics['read-bytes-complete']">{{ subtask.metrics['read-bytes'] | humanizeBytes }}</span><i ng-if="!subtask.metrics['read-bytes-complete']" aria-hidden="true" class="fa fa-spinner fa-spin fa-fw"></i></td>
      <td><span ng-if="subtask.metrics['read-records-complete']">{{ subtask.metrics['read-records'] | number }}</span><i ng-if="!subtask.metrics['read-records-complete']" aria-hidden="true" class="fa fa-spinner fa-spin fa-fw"></i></td>
      <td><span ng-if="subtask.metrics['write-bytes-complete']">{{ subtask.metrics['write-bytes'] | humanizeBytes }}</span><i ng-if="!subtask.metrics['write-bytes-complete']" aria-hidden="true" class="fa fa-spinner fa-spin fa-fw"></i></td>
      <td><span ng-if="subtask.metrics['write-records-complete']">{{ subtask.metrics['write-records'] | number }}</span><i ng-if="!subtask.metrics['write-records-complete']" aria-hidden="true" class="fa fa-spinner fa-spin fa-fw"></i></td>
      <td>{{ subtask.attempt + 1 }}</td>
      <td>{{ subtask.host }}</td>
      <td> 
        <bs-label status="{{subtask.status}}">{{subtask.status}}</bs-label>
      </td>
    </tr>
  </tbody>
</table>