
<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.


-->
<label class="checkbox-inline">
  <input type="checkbox" ng-model="aggregate" ngChange="getSubtasks()" class="checkbox-inline"/>Aggregate task statistics by TaskManager
</label>
<table class="table table-body-hover table-clickable table-activable">
  <thead>
    <tr>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Duration</th>
      <th>Name</th>
      <th>Bytes received</th>
      <th>Records received</th>
      <th>Bytes sent</th>
      <th>Records sent</th>
      <th>Parallelism</th>
      <th>Tasks</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody ng-repeat="v in job.vertices" ng-class="{ active: v.id == nodeid }" ng-click="changeNode(v.id)">
    <tr ng-if="v.type == 'regular'">
      <td><span ng-if="v['start-time'] &gt; -1">{{ v['start-time'] | amDateFormat:'YYYY-MM-DD, H:mm:ss' }}</span></td>
      <td><span ng-if="v['end-time'] &gt; -1">{{ v['end-time'] | amDateFormat:'YYYY-MM-DD, H:mm:ss' }}</span></td>
      <td><span ng-if="v.duration &gt; -1" title="{{v.duration | humanizeDuration:false}}">{{v.duration | humanizeDuration:true}}</span></td>
      <td class="td-long">{{ v.name | humanizeText }}</td>
      <td><span ng-if="v.metrics['read-bytes-complete']">{{ v.metrics['read-bytes'] | humanizeBytes }}</span><i ng-if="!v.metrics['read-bytes-complete']" aria-hidden="true" class="fa fa-spinner fa-spin fa-fw"></i></td>
      <td><span ng-if="v.metrics['read-records-complete']">{{ v.metrics['read-records'] | number }}</span><i ng-if="!v.metrics['read-records-complete']" aria-hidden="true" class="fa fa-spinner fa-spin fa-fw"></i></td>
      <td><span ng-if="v.metrics['write-bytes-complete']">{{ v.metrics['write-bytes'] | humanizeBytes }}</span><i ng-if="!v.metrics['write-bytes-complete']" aria-hidden="true" class="fa fa-spinner fa-spin fa-fw"></i></td>
      <td><span ng-if="v.metrics['write-records-complete']">{{ v.metrics['write-records'] | number }}</span><i ng-if="!v.metrics['write-records-complete']" aria-hidden="true" class="fa fa-spinner fa-spin fa-fw"></i></td>
      <td>{{ v.parallelism }}</td>
      <td>
        <div class="label-group">
          <bs-label status="{{status}}" ng-repeat="(index, status) in stateList">{{v.tasks[status]}}</bs-label>
        </div>
      </td>
      <td> 
        <bs-label status="{{v.status}}">{{v.status}}</bs-label>
      </td>
    </tr>
    <tr ng-if="nodeid &amp;&amp; v.id == nodeid">
      <td colspan="11">
        <div ng-if="!aggregate" ng-include=" 'partials/jobs/job.plan.node.subtasks.html' "></div>
        <div ng-if="aggregate" ng-include=" 'partials/jobs/job.plan.node.taskmanagers.html' "></div>
      </td>
    </tr>
  </tbody>
</table>