.draggable
{
	position: absolute;
}

.connector_feedback
{
	background-color: #336699;
        padding: 1px;
}

.connector
{
	background-color: #FF9900;
        padding: 0.5px;
}

.iteration-box
{
	border: 1.5px dashed #262A37;
	margin: 2.5px;
	height: 250px;
	overflow: visible;
}

.iteration-name-label
{
	margin-top: -12.5px;
	margin-left: 5px;
	padding: 1.5px;
	float: left;

	border: 1px solid #262A37;
	background-color: #FFFFFF;

	font-family: verdana;
	font-weight: normal;
	font-style: italic;
	font-size: 10px;
	color: #000000;
}

.iteration-set-box
{
	background-color: #DDDDDD;
	border: 1px solid #000000;

	position: absolute;
	width: 30px;
	height: 30px;

	font-family: Arial;
	font-weight: bold;
	font-size: 12px;
	color: #333333;
	text-align: center;
	line-height: 30px;
}

.iteration-set-box-left
{
	left: -15px;
}

.iteration-set-box-right
{
	right: -15px;
}

.middle-label
{
	background-color: #E0E8FF;
	border: 1px solid #9DA3B3;

	font-family: verdana;
	font-size: 10px;
	text-align: center;

	padding: 2px;
	border-radius: 5px;
	
	margin-left: -40px;
	width: 80px;
	z-index: 2;
}

div.canvas
{
	background-color: white;
	background-image: url('../img/gradient.jpg');
	background-repeat: no-repeat;
	background-position: top right;
	padding: 0px;
	margin-bottom: 10px;
}

span.shippingStrategy
{
	font-weight: normal;
	font-style: normal;
}

span.localStrategy
{
	font-weight: normal;
	font-style: italic;
}

span.cacheStrategy
{
	font-weight: bold;
	font-style: normal;
}

.datasource, .datasink, .pact
{
	border: 1px solid #9DA3B3;
	padding: 2px;
	margin: 0px;
}

.datasource, .datasink
{
	background-color: #F7BE81;
	width: 60px;
	height: 45px;
	border-radius: 15px;

}

.sourceSinkContents
{
	font-family: verdana;
	font-size: 10px;
	word-wrap: break-word;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 18px;
	margin-left: 3px;
	margin-right: 3px;
}

.pact
{
	width: 80px;
	height: 60px;
	background-color: #A9F5A9;
	border-radius: 5px;
}

.pactTypeBox
{
	background-color: #E0E8FF;
	border: 1px solid #9DA3B3;
	padding: 1px;
	color: #33333F;
	font-family: verdana;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
}

.pactContents
{
	font-family: verdana;
	font-size: 12px;
	text-align:center;
	vertical-align: middle;
	
	padding: 3px;
	margin-top: 5px;
	margin-bottom: 15px;

	word-wrap: break-word;
}
