g.type-TK > rect {
  fill: #00ffd0;
}

svg {
  border: 1px solid #999;
  overflow: hidden;
}

text {
  font-weight: 300;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
  font-size: 14px;
}

.node rect {
  stroke: #999;
  stroke-width: 1px;
  fill: #fff;
}

.edgeLabel rect {
  fill: #fff;
}

.edgePath path {
  stroke: #333;
  stroke-width: 3px;
  fill: none;
}