<!--
  ~   Licensed to the Apache Software Foundation (ASF) under one
  ~   or more contributor license agreements.  See the NOTICE file
  ~   distributed with this work for additional information
  ~   regarding copyright ownership.  The ASF licenses this file
  ~   to you under the Apache License, Version 2.0 (the
  ~   "License"); you may not use this file except in compliance
  ~   with the License.  You may obtain a copy of the License at
  ~       http://www.apache.org/licenses/LICENSE-2.0
  ~   Unless required by applicable law or agreed to in writing, software
  ~   distributed under the License is distributed on an "AS IS" BASIS,
  ~   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~   See the License for the specific language governing permissions and
  ~   limitations under the License.
  -->
<nz-table
  class="no-border small"
  [nzSize]="'small'"
  [nzData]="listOfPendingSlots"
  [nzFrontPagination]="false"
  [nzShowPagination]="false">
  <thead>
    <tr>
      <th nzShowExpand></th>
      <th>Start Time</th>
      <th>CPU Cores</th>
      <th>Direct MEM</th>
      <th>Heap MEM</th>
      <th>Native MEM</th>
      <th>Network MEM</th>
      <th>Managed MEM</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let data of listOfPendingSlots">
      <tr>
        <td nzShowExpand [(nzExpand)]="data.expand"></td>
        <td>{{data.start_time | nzHumanizeDate: 'yyyy-MM-dd HH:mm:ss'}}</td>
        <td>{{data.resource_profile.cpu_cores | number:'1.0-2' | nzHumanizeCheckNull}}</td>
        <td>{{data.resource_profile.direct_memory  | nzHumanizeBytes | nzHumanizeCheckNull}}</td>
        <td>{{data.resource_profile.heap_memory | nzHumanizeBytes | nzHumanizeCheckNull}}</td>
        <td>{{data.resource_profile.native_memory | nzHumanizeBytes | nzHumanizeCheckNull}}</td>
        <td>{{data.resource_profile.network_memory | nzHumanizeBytes | nzHumanizeCheckNull}}</td>
        <td>{{data.resource_profile.managed_memory | nzHumanizeBytes | nzHumanizeCheckNull}}</td>
      </tr>
      <tr [nzExpand]="data.expand">
        <td colspan="8">
          <nz-table
            [nzSize]="'small'"
            class="no-border small"
            [nzData]="data.tasks"
            [nzFrontPagination]="false"
            [nzShowPagination]="false">
            <thead>
              <tr>
                <th>Task Name</th>
                <th>SubTask</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let task of data.tasks">
                <td>
                  <a [title]="task.task_name" class="name" [routerLink]="['../','overview',task.vertex_id,'detail']">{{task.task_name}}</a>
                </td>
                <td>{{task.subtask}}</td>
              </tr>
            </tbody>
          </nz-table>
        </td>
      </tr>
    </ng-container>
  </tbody>
</nz-table>
