<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration SYSTEM "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- Database connection settings -->
		<!-- property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property> 
      
        <property name="hibernate.c3p0.min_size">1</property>
        <property name="hibernate.c3p0.max_size">30</property>
        <property name="hibernate.c3p0.timeout">300</property>
        <property name="hibernate.c3p0.idle_test_period">3000</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <property name="hibernate.c3p0.acquireIncrement">2</property -->
		


        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>

        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

        <mapping resource="de/tu_berlin/cit/nephele/mysql/records/TaskExecutionRecord.hbm.xml"/>
        <mapping resource="de/tu_berlin/cit/nephele/mysql/records/ChannelExecutionRecord.hbm.xml"/>
        <mapping resource="de/tu_berlin/cit/nephele/mysql/records/InstanceExecutionRecord.hbm.xml"/>

    </session-factory>

</hibernate-configuration>