/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

@import "theme";

.task-manager-avatar {
  display: inline-block;
}

.task-manager-percentage-bar {
  transform: rotate(270deg);
  display: inline-block;
  position: relative;
}

.task-manager-percentage-bar-small {
  margin-left: -20px;
  top: -0.8px;
  width: 30px;
}

.task-manager-percentage-bar-big {
  margin-left: -45px;
  width: 60px;
  top: -2px;
}

.task-manager-avatar-green {
  color: @success-color;
}

.task-manager-avatar-yellow {
  color: @warning-color;
}

.task-manager-avatar-red {
  color: @error-color;
}

.task-manager-avatar-small {
  font-size: 30px;
}

.task-manager-avatar-big {
  font-size: 60px;
}
