*.class
*.iml
*.jar
*.retry
*.tfstate
*.tfstate.*
.DS_Store
.hg/
.hgignore
.idea/
.terraform/
/.lein-*
/.nrepl-port
/checkouts
/classes
/target
pom.xml
pom.xml.asc
store
bin/DataStreamAllroundTestProgram.jar
