<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<span *ngIf="!taskManager; else hrefTpl">-</span>
<ng-template #hrefTpl>
  <a nz-dropdown nzPlacement="bottomRight" [nzDropdownMenu]="menu">
    <i nz-icon nzType="ellipsis" nzTheme="outline"></i>
  </a>
  <nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu>
      <li nz-menu-item>
        <a (click)="setModalVisible(true)">View Aggregated Metrics</a>
        <nz-modal
          [nzTitle]="taskManager['taskmanager-id']"
          [(nzVisible)]="visible"
          [nzFooter]="null"
          [nzWidth]="800"
          (nzOnCancel)="setModalVisible(false)"
        >
          <ng-container *nzModalContent>
            <flink-table-aggregated-metrics
              [aggregated]="taskManager.aggregated"
            ></flink-table-aggregated-metrics>
          </ng-container>
        </nz-modal>
      </li>
      <li
        nz-menu-item
        [nzDisabled]="loading"
        *ngIf="taskManager['taskmanager-id'] && taskManager['taskmanager-id'] !== '(unassigned)'"
      >
        <a [href]="logUrl" target="_blank">View External Taskmanager Log</a>
      </li>
    </ul>
  </nz-dropdown-menu>
</ng-template>
