Package: [[name]]
Version: [[version]]
Section: misc
Depends: default-jre
Priority: low
Architecture: all
Description: Stratosphere is a distributed parallel data processing system
Maintainer: Stratosphere team <contact@getstratosphere.org>