/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

@import "theme";

.wrapper {
  margin: 24px;
}

.header-icon {
  position: relative;
  top: 1px;
}

.flink-memory-model {
  margin-bottom: 24px;
  ::ng-deep {
    table {
      border-collapse: collapse;
    }
    .ant-table-small {
      border: none;
      .ant-table-body {
        margin: 0;
        overflow: hidden !important;
      }
      tr {
        &:hover {
          td, th {
            background: transparent;
          }
        }
      }
      td, th {
        border-collapse: collapse;
        border: 1px solid @border-color-split !important;
        &.table-header {
          background: @table-header-bg !important;
          color: @table-header-color;
          font-weight: 500;
        }
      }
    }
  }
}

nz-progress {
  display: block;
  width: 90%;
  ::ng-deep {
    .ant-progress-inner {
      border-radius: 0 !important;
    }
  }
}

nz-card {
  &:last-child {
    margin-top: 16px;
  }
}
