//
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at
 
      http://www.apache.org/licenses/LICENSE-2.0
 
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.

nav.navbar.navbar-default.navbar-fixed-top.navbar-main
  #fold-button.btn.btn-default.navbar-btn.pull-left(ng-click='showSidebar()')
    i.fa.fa-navicon

  .navbar-title
    | Task Managers

#content-inner
  table.table.table-clickable.table-hover
    thead
      tr
        th Path, ID
        th Data Port
        th Last Heartbeat
        th All Slots
        th Free Slots
        th CPU Cores
        th Physical Memory
        th JVM Heap Size
        th Flink Managed Memory

    tbody
      tr(ng-repeat="manager in managers" ui-sref="single-manager.metrics({taskmanagerid: manager.id})")
        td
          | {{ manager.path }}
          | 
          .small-label {{ manager.id }}
        td {{ manager.dataPort }}
        td {{ manager.timeSinceLastHeartbeat | amDateFormat:'YYYY-MM-DD, H:mm:ss' }}
        td {{ manager.slotsNumber }}
        td {{ manager.freeSlots }}
        td {{ manager.hardware.cpuCores }}
        td(title="{{manager.hardware.physicalMemory}} bytes") {{ manager.hardware.physicalMemory | humanizeBytes }}
        td(title="{{manager.hardware.freeMemory}} bytes") {{ manager.hardware.freeMemory | humanizeBytes }}
        td(title="{{manager.hardware.managedMemory}} bytes") {{ manager.hardware.managedMemory | humanizeBytes }}

