
<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

-->
<div ng-if="checkpointStats">
  <table class="table checkpoint-overview">
    <thead>
      <tr>
        <td><strong>Checkpoint Counts</strong></td>
        <td>Triggered: {{ checkpointStats['counts']['total'] }}<span>In Progress: {{ checkpointStats['counts']['in_progress'] }}</span><span>Completed: {{ checkpointStats['counts']['completed'] }}</span><span>Failed: {{ checkpointStats['counts']['failed'] }}</span><span>Restored: {{ checkpointStats['counts']['restored'] }}</span></td>
      </tr>
      <tr>
        <td><strong>Latest Completed Checkpoint</strong></td>
        <td ng-if="checkpointStats['latest']['completed']">ID: {{ checkpointStats['latest']['completed']['id'] }}<span>Completion Time: {{ checkpointStats['latest']['completed']['latest_ack_timestamp'] | amDateFormat:'H:mm:ss' }}</span><span>End to End Duration: {{ checkpointStats['latest']['completed']['end_to_end_duration'] | humanizeDuration }}</span><span>State Size: {{ checkpointStats['latest']['completed']['state_size'] | humanizeBytes }}</span><span><i aria-hidden="true" class="fa fa-caret-square-o-right"></i> <a ui-sref="^.details({checkpointId: checkpointStats['latest']['completed']['id']})">More details</a></span></td>
        <td ng-if="!checkpointStats['latest']['completed']">None</td>
      </tr>
      <tr>
        <td><strong>Latest Failed Checkpoint</strong></td>
        <td ng-if="checkpointStats['latest']['failed']">ID: {{ checkpointStats['latest']['failed']['id'] }}<span>Failure Time: {{ checkpointStats['latest']['failed']['failure_timestamp'] | amDateFormat:'H:mm:ss' }}</span><span ng-if="checkpointStats['latest']['failed']['failure_message']">Cause: {{ checkpointStats['latest']['failed']['failure_message'] }}</span><span ng-if="!checkpointStats['latest']['failed']['failure_message']">Cause: n/a</span><span><i aria-hidden="true" class="fa fa-caret-square-o-right"></i> <a ui-sref="^.details({checkpointId: checkpointStats['latest']['failed']['id']})">More details</a></span></td>
        <td ng-if="!checkpointStats['latest']['failed']">None</td>
      </tr>
      <tr>
        <td><strong>Latest Savepoint</strong></td>
        <td ng-if="checkpointStats['latest']['savepoint']">ID: {{ checkpointStats['latest']['savepoint']['id'] }}<span>Completion Time: {{ checkpointStats['latest']['savepoint']['latest_ack_timestamp'] | amDateFormat:'H:mm:ss' }}</span><span>State Size: {{ checkpointStats['latest']['savepoint']['state_size'] | humanizeBytes }}</span><span>Path: {{ checkpointStats['latest']['savepoint']['external_path'] }}</span><span><i aria-hidden="true" class="fa fa-caret-square-o-right"></i> <a ui-sref="^.details({checkpointId: checkpointStats['latest']['savepoint']['id']})">More details</a></span></td>
        <td ng-if="!checkpointStats['latest']['savepoint']">None</td>
      </tr>
      <tr>
        <td><strong>Latest Restore</strong></td>
        <td ng-if="checkpointStats['latest']['restored']">ID: {{ checkpointStats['latest']['restored']['id'] }}<span>Restore Time: {{ checkpointStats['latest']['restored']['restore_timestamp'] | amDateFormat:'H:mm:ss' }}</span><span ng-if="checkpointStats['latest']['restored']['is_savepoint']">Type: Savepoint</span><span ng-if="!checkpointStats['latest']['restored']['is_savepoint']">Type: Checkpoint</span><span ng-if="checkpointStats['latest']['restored']['external_path']">Path: {{ checkpointStats['latest']['restored']['external_path'] }}</span></td>
        <td ng-if="!checkpointStats['latest']['restored']">None</td>
      </tr>
    </thead>
  </table>
</div>