
<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

-->
<div ng-if="accumulators.length == 0">
  <p><i>No accumulators</i></p>
</div>
<div ng-if="accumulators &amp;&amp; accumulators.length &gt; 0">
  <table class="table table-hover table-clickable table-activable table-inner">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="accumulator in accumulators">
        <td width="30%">{{ accumulator.name }}</td>
        <td width="30%">{{ accumulator.type }}</td>
        <td width="30%">{{ accumulator.value }}</td>
      </tr>
    </tbody>
  </table>
  <div ng-if="!nodeUnfolded"><a ng-click="toggleFold()" class="btn btn-default">
      Show subtasks
       <i class="fa fa-chevron-down"></i></a><a ng-click="deactivateNode(); $event.stopPropagation()" title="Fold" class="btn btn-default pull-right"><i class="fa fa-chevron-up"></i></a></div>
  <div ng-if="nodeUnfolded &amp;&amp; subtaskAccumulators &amp;&amp; subtaskAccumulators.length &gt; 0"><a ng-click="toggleFold()" class="btn btn-default">
      Hide subtasks
       <i class="fa fa-chevron-up"></i></a>
    <table class="table table-hover table-clickable table-activable table-inner">
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody ng-if="subtask['user-accumulators'] &amp;&amp; subtask['user-accumulators'].length &gt; 0" ng-repeat="subtask in subtaskAccumulators">
        <tr>
          <td colwidth="3">
            <div class="small-label">({{ subtask.subtask }}) {{ subtask.host }}, attempt: {{ subtask.attempt + 1 }}</div>
          </td>
        </tr>
        <tr ng-repeat="accumulator in subtask['user-accumulators']">
          <td width="30%">{{ accumulator.name }}</td>
          <td width="30%">{{ accumulator.type }}</td>
          <td width="30%">{{ accumulator.value }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>