
<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

-->
<div class="canvas-wrapper">
  <div job-plan="job-plan" plan="plan" jobid="{{jobid}}" set-node="changeNode(nodeid)" class="main-canvas"></div>
</div>
<div ng-if="node" class="panel panel-default">
  <div class="panel-heading clearfix">
    <div class="panel-title">{{ node.description | humanizeText }}</div>
  </div>
  <div class="panel-body clean">
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <table ng-if="node.optimizer_properties.global_properties" class="table table-properties">
          <thead>
            <tr>
              <th colspan="2">Global Data Properties</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="property in node.optimizer_properties.global_properties">
              <td>{{property.name}}</td>
              <td table-property="table-property" value="property.value"></td>
            </tr>
          </tbody>
        </table>
        <table ng-if="node.optimizer_properties.local_properties" class="table table-properties">
          <thead>
            <tr>
              <th colspan="2">Local Data Properties</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="property in node.optimizer_properties.local_properties">
              <td>{{property.name}}</td>
              <td table-property="table-property" value="property.value"></td>
            </tr>
          </tbody>
        </table>
        <div class="visible-xs visible-sm">
          <table class="table table-properties">
            <thead>
              <tr>
                <th colspan="2">Properties</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Operator</td>
                <td table-property="table-property" value="node.operator_strategy"></td>
              </tr>
              <tr>
                <td>Parallelism</td>
                <td table-property="table-property" value="node.parallelism"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="hidden-sm col-md-4">
        <table class="table table-properties">
          <thead>
            <tr>
              <th colspan="2">Properties</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Operator</td>
              <td table-property="table-property" value="node.operator_strategy"></td>
            </tr>
            <tr>
              <td>Parallelism</td>
              <td table-property="table-property" value="node.parallelism"></td>
            </tr>
          </tbody>
        </table>
        <table ng-if="node.optimizer_properties.estimates" class="table table-properties">
          <thead>
            <tr>
              <th colspan="2">Size Estimates</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="property in node.optimizer_properties.estimates">
              <td>{{property.name}}</td>
              <td table-property="table-property" value="property.value"></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="visible-xs visible-sm">
          <table ng-if="node.optimizer_properties.estimates" class="table table-properties">
            <thead>
              <tr>
                <th colspan="2">Size Estimates</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="property in node.optimizer_properties.estimates">
                <td>{{property.name}}</td>
                <td table-property="table-property" value="property.value"></td>
              </tr>
            </tbody>
          </table>
        </div>
        <table ng-if="node.optimizer_properties.costs" class="table table-properties">
          <thead>
            <tr>
              <th colspan="2">Cost Estimates</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="property in node.optimizer_properties.costs">
              <td>{{property.name}}</td>
              <td table-property="table-property" value="property.value"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>