<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<assembly
		xmlns="http://maven.apache.org/plugins/maven-assembly-plugin/assembly/1.1.0"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://maven.apache.org/plugins/maven-assembly-plugin/assembly/1.1.0 http://maven.apache.org/xsd/assembly-1.1.0.xsd">
	<id>plugin</id>
	<formats>
		<format>dir</format>
	</formats>

	<includeBaseDirectory>true</includeBaseDirectory>
	<baseDirectory>flink-${project.version}</baseDirectory>

	<files>
		<!-- hadoop -->
		<file>
			<source>../flink-filesystems/flink-hadoop-fs/target/flink-hadoop-fs-${project.version}.jar</source>
			<outputDirectory>plugin/flink-hadoop-fs</outputDirectory>
			<destName>flink-hadoop-fs-${project.version}.jar</destName>
			<fileMode>0644</fileMode>
		</file>

		<!-- mapr -->
		<file>
			<source>../flink-filesystems/flink-mapr-fs/target/flink-mapr-fs-${project.version}.jar</source>
			<outputDirectory>plugin/flink-mapr-fs</outputDirectory>
			<destName>flink-mapr-fs-${project.version}.jar</destName>
			<fileMode>0644</fileMode>
		</file>

		<!-- oss -->
		<file>
			<source>../flink-filesystems/flink-oss-fs-hadoop/target/flink-oss-fs-hadoop-${project.version}.jar</source>
			<outputDirectory>plugin/flink-oss-fs-hadoop</outputDirectory>
			<destName>flink-oss-fs-hadoop-${project.version}.jar</destName>
			<fileMode>0644</fileMode>
		</file>

		<!-- s3 hadoop -->
		<file>
			<source>../flink-filesystems/flink-s3-fs-hadoop/target/flink-s3-fs-hadoop-${project.version}.jar</source>
			<outputDirectory>plugin/flink-s3-fs-hadoop</outputDirectory>
			<destName>flink-s3-fs-hadoop-${project.version}.jar</destName>
			<fileMode>0644</fileMode>
		</file>

		<!-- s3 persto -->
		<file>
			<source>../flink-filesystems/flink-s3-fs-presto/target/flink-s3-fs-presto-${project.version}.jar</source>
			<outputDirectory>plugin/flink-s3-fs-presto</outputDirectory>
			<destName>flink-s3-fs-presto-${project.version}.jar</destName>
			<fileMode>0644</fileMode>
		</file>

		<!-- swift hadoop -->
		<file>
			<source>../flink-filesystems/flink-swift-fs-hadoop/target/flink-swift-fs-hadoop-${project.version}.jar</source>
			<outputDirectory>plugin/flink-swift-fs-hadoop</outputDirectory>
			<destName>flink-swift-fs-hadoop-${project.version}.jar</destName>
			<fileMode>0644</fileMode>
		</file>
	</files>
</assembly>
